.header {
  display: flex;
  flex-direction: row;
  padding: 18px 70px;
  min-width: 100%;
  justify-content: space-between;
  max-height: 74px;
  box-sizing: border-box;
}

.header__logo {
  min-height: 38px;
}

.header__long-menu {
  display: flex;
  align-items: center;
}

.header__short-menu {
  display: none;
}

.header__short-menu-open {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 18px 30px;
  }

  .header__long-menu {
    display: none;
  }

  .header__short-menu {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 18px 14px;
  }

  .header__long-menu {
    display: none;
  }

  .header__short-menu {
    display: flex;
  }
}
