.about-project {
  padding: 110px 70px;
}

.about-project__container {
  max-width: 1140px;
  margin: 0 auto;
}

.about-project__description {
  display: flex;
  justify-content: space-between;
  padding: 70px 0px 110px;
}

.about-project__description * {
  margin-right: 52px;
}

.about-project__description :last-child {
  margin-right: 0px;
}

.about-project__description-title {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: -0.04em;
  margin: 0;
  margin-bottom: 26px;
}

.about-project__description-text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: 0em;
  margin: 0;
}

.about-project__timeline {
  display: flex;
  justify-content: space-between;
  max-height: 36px;
  margin-bottom: 14px;
}

.about-project__timeline_backend {
  background-color: #000;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
}

.about-project__timeline_backend_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  margin: 0;
}

.about-project__timeline_frontend {
  background-color: #f2f2f2;
  flex-grow: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 36px;
}

.about-project__timeline_frontend_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  margin: 0;
}

.about-project__timeline-description {
  display: flex;
  justify-content: space-between;
  max-height: 36px;
}

.about-project__timeline-description_backend {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__timeline-description_backend_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0px;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
}

.about-project__timeline-description_frontend {
  flex-grow: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-project__timeline-description_frontend_text {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.21;
  letter-spacing: 0em;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
}

@media screen and (max-width: 900px) {
  .about-project {
    padding: 90px 50px;
  }

  .about-project__description {
    padding: 70px 0px 93px;
  }

  .about-project__description * {
    margin-right: 35px;
  }

  .about-project__description-title {
    margin-bottom: 22px;
  }

  .about-project__description-text {
    font-size: 12px;
    line-height: 1.5;
  }

  .about-project__timeline_backend {
    max-width: 140px;
  }

  .about-project__timeline-description_backend {
    max-width: 140px;
  }
}

@media screen and (max-width: 500px) {
  .about-project {
    padding: 56px 18px 70px;
  }

  .about-project__description {
    display: flex;
    flex-direction: column;
    padding: 60px 0px 0px;
  }

  .about-project__description * {
    margin-right: 0px;
    margin-bottom: 60px;
  }

  .about-project__description-section {
    margin-bottom: 0;
  }

  .promo__section-title-text {
    font-size: 18px;
    line-height: 1.22;
  }

  .about-project__description-title {
    font-size: 18px;
    line-height: 1.22;
    margin-bottom: 18px;
  }

  .about-project__description-text {
    font-size: 11px;
    line-height: 1.45;
  }

  .about-project__timeline_backend {
    min-width: 100px;
  }

  .about-project__timeline-description_backend {
    min-width: 100px;
  }

  .about-project__timeline_backend_text {
    font-size: 11px;
    line-height: 1.18;
  }

  .about-project__timeline_frontend_text {
    font-size: 11px;
    line-height: 1.18;
  }

  .about-project__timeline-description_backend_text {
    font-size: 11px;
    line-height: 1.18;
  }

  .about-project__timeline-description_frontend_text {
    font-size: 11px;
    line-height: 1.18;
  }

  .about-project__timeline {
    margin-bottom: 10px;
  }
}
